# ref: https://usememos.com/docs/installation/docker#postgresql

services:
  memos-postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=${MEMOS_POSTGRES_USER}
      - POSTGRES_PASSWORD=${MEMOS_POSTGRES_PASSWORD}
      - POSTGRES_DB=${MEMOS_POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  memos:
    image: neosmemo/memos:stable
    depends_on:
      - memos-postgres
    environment:
      - MEMOS_DRIVER=postgres
      - MEMOS_DSN=${MEMOS_DSN}
    ports:
      - 3003:5230
    restart: unless-stopped

volumes:
  postgres_data:
