name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    strategy:
      matrix:
        package:
          - portainer
          - hedgedoc
    steps:
      - uses: actions/checkout@v5
      - env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          cd ${{ matrix.package }}
          docker compose pull
          sops exec-env ../.enc.env "docker compose up --detach --remove-orphans"
          docker image prune --force
